body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header {
    display: grid;
    grid-template-columns: 70vw 10vw;
    align-items: center;

}

#name {
    font-size: 3em;
    padding-left: 12vw;
}

#language-box {
    display: flex;
    gap: 0px;
    border-style: solid;
    width: max-content
}

#language-french {
    border-right: 1px solid black;
}

.language {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

#content {
    border: solid;
    margin-top: 10vh;
    margin-left: 10vw;
    width: 480px;
    height: 482px;
}

#content ul li {
    list-style-type: none;
    font-size: 2em;
    margin-bottom: 15%;
}

#skill {
    margin-top: 20%;
}

#foot {
    margin-top: 5vh;
    display: flex;
    justify-content: flex-end;
}

#git-logo {
    width: 200px;
    height: auto;
    margin-right: 10vw;
}